:root {
    --primary-white: #ffffff;
    --primary-light-grey: #f4f4f4;
    --primary-grey: #ccd1d9;
    --primary-dark-grey: #666666;
    --primary-orange: #f9ab00;
    --primary-dark: rgb(52, 58, 64);
    --primary-red: #ef4035;
    --primary-hover-red: #f33501;
    --primary-black: #000000;
    --primary-transparent-black: rgba(0,0,0,0.7);
    --primary-green: green;
  }

img{
    width: 200px;
    height: 300px;
}

.projects {
    padding: 0.7rem;
  }
  
  .projects-wrapper {
    position: relative;
    padding: 3.125rem 0;
    overflow: hidden;

  }
  
  .projects h1 {
    text-transform: uppercase;
    color: var(--primary-orange);
  }
  
  .projects-wrapper::before {
    position: absolute;
    content: "";
    top: 0;
    left: 50%;
    margin-left: -0.0625rem;
    width: 0.125rem;
    height: 100%;
    background: var(--primary-grey);
    z-index: 1;
  }
  
  .timeline-block {
    width: calc(50% + 0.5rem);
    display: flex;
    justify-content: space-between;
    clear: both;
  }
  
  .timeline-block-right {
    float: right;
  }
  
  .timeline-block-left {
    float: left;
    direction: rtl;
  }
  
  
  .marker {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;;
    border: 0.3125rem solid var(--primary-dark);
    background: var(--primary-orange);
    margin-top: 0.625rem;
    z-index: 3;
  }
  
  .timeline-content {
    width: 95%;
    padding: 0 0.9375rem;
    color: white;
    direction: ltr;
  }
  
  .timeline-content h3 {
    margin-top: 0.3125rem;
    color: var(--primary-red);
    font-weight: 900;
  }